.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
}

.title {
	color: #2f5d8a;
}

@media screen and (max-height: 1024px) {
	.wrapper {
		height: 6rem;
	}

	.title.withResults {
		color: white;
		height: initial;
	}
}
