.wrapper {
  position: relative;
}

.localize {
  position: absolute;
  top: 11px;
  right: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.localize svg,
.search svg {
  fill: #4a6fa1;
}
